In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import json

In [9]:
lol = pd.read_json('champ_stats.json')
lol.head()

,Aatrox,Ahri,Akali,Alistar,Amumu,Anivia,Annie,Aphelios,Ashe,AurelionSol,...,Yasuo,Yone,Yorick,Yuumi,Zac,Zed,Ziggs,Zilean,Zoe,Zyra
hp,580.0,526.0,575.0,600.0,615.0,480.0,524.0,530.0,570.0,575.0,...,490.0,550.0,580.0,480.0,615.0,584.0,536.0,504.0,560.0,504.0
hpperlevel,90.0,92.0,95.0,106.0,80.0,82.0,88.0,88.0,87.0,92.0,...,87.0,85.0,100.0,70.0,95.0,85.0,92.0,82.0,92.0,79.0
mp,0.0,418.0,200.0,350.0,285.0,495.0,418.0,348.0,280.0,350.0,...,100.0,500.0,300.0,400.0,0.0,200.0,480.0,452.0,425.0,418.0
mpperlevel,0.0,25.0,0.0,40.0,40.0,45.0,25.0,42.0,32.0,50.0,...,0.0,0.0,60.0,45.0,0.0,0.0,23.5,50.0,25.0,25.0
movespeed,345.0,330.0,345.0,330.0,335.0,325.0,335.0,325.0,325.0,325.0,...,345.0,345.0,340.0,330.0,340.0,345.0,325.0,335.0,340.0,340.0

In [13]:
print(lol['Cassiopeia'].dtype)

float64

In [14]:
lol.describe()

,Aatrox,Ahri,Akali,Alistar,Amumu,Anivia,Annie,Aphelios,Ashe,AurelionSol,...,Yasuo,Yone,Yorick,Yuumi,Zac,Zed,Ziggs,Zilean,Zoe,Zyra
count,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,...,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000
mean,66.837550,103.474400,76.638750,85.950000,81.250150,107.722550,106.927200,100.667000,101.563500,103.584250,...,66.922350,89.751250,85.896250,97.798750,68.449300,76.792550,106.885400,105.341500,106.348750,104.110550
std,147.064799,186.663275,146.039177,158.795135,156.981448,194.913033,196.787565,180.895755,188.674814,186.694481,...,130.454699,170.721201,153.077052,173.110498,153.138154,147.541003,193.415636,187.035501,191.949359,187.765932
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.767000,0.593750,1.150000,1.150000,0.756250,0.744750,0.617500,0.631000,0.756250,...,0.522750,0.468750,1.137500,0.606250,0.000000,0.650750,0.764000,0.756250,0.643750,0.593750
50%,2.750000,6.750000,5.750000,8.500000,8.191000,6.750000,6.750000,4.875000,5.236000,6.500000,...,3.450000,3.450000,7.750000,8.500000,2.500000,5.250000,7.250000,8.417500,7.250000,9.250000
75%,43.500000,62.780000,70.550000,73.000000,60.035000,59.032000,59.807500,64.750000,66.000000,65.750000,...,66.750000,66.250000,71.500000,58.750000,39.750000,68.500000,63.656000,59.230000,66.500000,59.782000
max,580.000000,550.000000,575.000000,600.000000,615.000000,600.000000,625.000000,550.000000,600.000000,575.000000,...,490.000000,550.000000,580.000000,500.000000,615.000000,584.000000,550.000000,550.000000,560.000000,575.000000

In [15]:
lol.std()

Aatrox     147.064799
Ahri       186.663275
Akali      146.039177
Alistar    158.795135
Amumu      156.981448
              ...
Zed        147.541003
Ziggs      193.415636
Zilean     187.035501
Zoe        191.949359
Zyra       187.765932
Length: 153, dtype: float64

In [32]:
Cassiopeia = lol['Cassiopeia'].mean()
print('Casssiopeia median stats: ',Cassiopeia)

Ahri = lol['Ahri'].mean()
print('Ahri median stats: ',Ahri)

Casssiopeia median stats:  103.24735000000001
Ahri median stats:  103.47440000000002